.container{
    height: 100%;
    width: 100vw;
    padding-bottom: 100px;
   
}

/* pages styles */
h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}
.info{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
.main-landing{
    width: 100%;
    background-image: url("../../gigitAssets/images/main-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: white;
    
}
.overlay{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.493);
    display: flex;
    flex-direction: column;
}
.overlay-elements{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.logo{
    height:130px;
}

/* section divider */
.section-divider{
    text-align: center;
    padding: 40px 10px;
}
/* card styles */
.card-section{
    display: flex;
    padding: 0 40px;
    flex-wrap: wrap;
}
.main-card{
    text-decoration: none;
    width: 280px;
    height: 230px;
    text-align: center;
    
}
.shadow{
    width: 280px;
    height: 230px;
    border: 2px solid rgba(255, 255, 255, 0.63);
    border-radius: 10px;
    box-shadow: 0 4px 10px grey;
    margin: 0 auto 40px auto;
}
.card-text{
    color: black;
}
.image-holder{
    width: 100%;
    height: 170px;
    border-radius: 10px;
}
.card-img{
    height: 100%;
    border-radius: 10px 10px 0 0;
}
/* media style */
@media screen and (max-width: 480px) {
    .logo{
        height:95px;
    }
    .main-landing{
        height: 450px;
    }
    .card-section{
        flex-direction: column;
    }
  }